.main-header {
    background-color: pink;
}

h1 {
    float: left;
    padding-top: -40px;
    margin-left: 10px;
}

nav {
    height: 90px;
    width: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    float: right;
    
}

nav ul li {
    margin: 0 10px;
    padding: 7px;
    border: solid 1px #ffffff;
    border-radius: 8px;
    background-color: purple;
    font-style: italic;
}

nav ul li:hover {
    background-color: chartreuse;
}

a {
    text-decoration: none;
    color: white;
}

#parent {
    /* margin: 40px 10px 40px 10px; */
    text-align: justify;
    padding: 5px;
    /* float: left; */
    display: flex;
    /* justify-content: space-between; */
    /* overflow: hidden; */
    /* width: 45%; */
    border: solid palevioletred 1px;
    border-radius: 7px;
    /* background-color: pink; */
    text-align: center;
}

#parent div{
    flex-wrap: wrap;
}

#parent article {
    flex-wrap: wrap;
}

.second-header {
    text-align: center;
}

#div-2 {
    margin: 40px 10px 40px 10px;
    /* width: 50%; */
    text-align: justify;
    /* float: right; */
    padding: 5px;
    justify-content: space-between;
    border: solid palevioletred 1px;
    display: flex;
    border-radius: 7px;
    background-color: pink;
    flex-basis: 33%;

}

#div-1 {
    margin: 40px 10px 40px 10px;
    /* width: 50%; */
    text-align: justify;
    /* float: right; */
    padding: 5px;
    justify-content: space-between;
    border: solid palevioletred 1px;
    display: flex;
    border-radius: 7px;
    background-color: pink; 
    flex-basis: 33%;

}
.img {
    height: 200px;
    width: 300px;
    float: left;
    margin: 10px;
    border-radius: 7px;
    /* position: absolute; */
}

.article-parent {
    clear: both;
}

#second-list {
    /* margin: 40px 10px 40px 10px;

    text-decoration: none; */
    /* list-style: none; */
    /* border: 1px solid palevioletred; */
    /* height: 200px;
    width: 200px; */
    /* justify-content: space-between;
    text-align: justify;
    background-color: pink;
    border-radius: 5px; */
    margin: 40px 10px 40px 10px;
    /* width: 50%; */
    text-align: justify;
    /* float: right; */
    padding: 5px;
    justify-content: space-between;
    border: solid palevioletred 1px;
    display: flex;
    border-radius: 7px;
    background-color: pink; 
    flex-basis: 25%;
}

.ol-list {
    text-decoration: none;
    /* list-style: none; */
}

.table-parent {
    display: flex;
    /* border: 1px solid black; */
    flex-basis: 20%;
    justify-content: space-between;
    border: 1px solid palevioletred;
    padding-bottom: 1px;

}

.table-h1 {
    border-right: 1px solid palevioletred;
    padding: 0 0 20px 90px;
}

.form-div {
    border-right: 1px solid palevioletred;
    justify-content: center;
    padding-right: 30px;
}

th, td {
    padding: 15px;
    text-align: center;
  }

  input[type=text], select  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  input[type=submit]:hover {
    background-color: #45a049;

    }

   .date {
    padding-top: 20px;
   }


    .select-verse {
        padding-right: 30px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        margin-top: 50px;
      }

      @media only screen and (max-width: 400px) {
          nav, ul, li {
            flex-basis: 100%;
                      
          }
      }

      @media only screen and (max-width: 750px) {

      }

      @media only screen and (min-width: 750px) {



/* second trial of styling with flexbox */
}

.main-header {
    background-color: royalblue;
    display: flex;

    
}

#main-body div {
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
}

#side-bar div {
    flex-basis: 20%;
}


.h1-div {
    
}

.main-header div {
    flex-basis: 50%;
    padding: 10px;
}

.nav-div {
    flex-grow: 0;
}
ul li {
    list-style: none;
    float: right;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px;
    padding: 4px;
    color: white;
}
 ul li:hover {
    color: palegreen;
 }

a {
    text-decoration: none;
}

/* section 2 , part 1 of the body */

#parent {
    display: flex;
    padding: 5px;
    margin-top: 30px;
    /* flex-basis: 100%; */

}

#div-1 {
    display: flex;
    justify-content: space-between;
}

.image-article {
    border: 1px solid black;
    flex-basis: 33.3%;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    
}

.image-article-2 {
    border: 1px solid black;
    flex-basis: 33.3%;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
}

.image-article-3 {
    border: 1px solid black;
    border-radius: 10px;
}

.image-article-3 li {
    list-style: disc;


}
img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.article-1 {
    
}

/* section 2 , part 2 of the body */

.table-parent {
    display: flex;
    padding: 4px;
}

.table-parent div {
    flex-basis: 100%;
    padding: 12px;;
    border: 1px solid black;
    border-radius: 6px;
}

th, td {
    padding: 15px;
    text-align: center;
  }

  .form {
      text-align: center;
  }
  input[type=text], select  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  input[type=submit]:hover {
    background-color: #45a049;

    }

    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        margin-top: 50px;
      }

      .more-info {
          text-align: center;
      }

      /* media quarries */
      @media (max-width: 400px) {
        .main-header div {
            flex-wrap: wrap;
          flex-basis: 100%;
          flex-grow: 0; 
          padding: 0 10px;
          
                    
        }

        .h1-div {
            color: white;
        }

        #parent div {
            flex-wrap: wrap;
            padding: 10px 20px;
        }

        .table-parent {
            flex-wrap: wrap;
            padding: 10px 20px;
        }
    }

    @media only screen and (max-width: 750px) {
        .main-header div {
            flex-wrap: wrap;
          flex-basis: 100%;
          flex-grow: 0; 
          padding: 0 10px;
          
                    
        }

        .h1-div {
            color: white;
        }

        #parent div {
            flex-wrap: wrap;
            padding: 10px 20px;
        }

        .table-parent {
            flex-wrap: wrap;
            padding: 10px 20px;
        }
    }

    @media only screen and (min-width: 750px) {

    }



    /* Main footer */
    /* Footer */

.footer {
    background-color: #223c65;
    /* border: 1px solid red; */
    display: flex;

}

.footer div {
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin: 8px;
    font-family: "Catamaran GP", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}

.footer li {
    padding: 5px;
    margin-left: 40px;
}

.footer-list li:hover {
    color:black;
    background-color: white;
    border-radius: 4px;
}

.footer-list ul a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.footer-needs {
    /* border: 1px solid red; */
    text-align: center;
    margin-left: 40x;
    border-right: 1px solid white;
    
    
}

.footer-list {
    /* border: 1px solid red; */
    border-right: 1px solid white;
}

.footer-list p {
    text-align: center;
}

.footer-needs ul {
    text-decoration: none;    
}

.footer-needs li {
    list-style: none;
    padding: 5px;
    text-decoration: none;
    
}
/* .footer-needs p {
    margin: 0;
    padding: 0;

} */

.contact-us {
    
}

.faq {
    /* border: 1px solid red; */
    text-align: justify;
    margin: 0x;
    border-right: 1px solid white;
    padding: 0;
    }

    .faq p {
        text-align: center;
        padding-bottom: 0;

    }

    .faq li {
        list-style: none;
        margin: 0;

    }

    .social {
        /* border: 1px solid red; */

    }

    .social li {
        list-style: none;
    }

    .social p {
        text-align: center;
    }

    .social a {
        text-decoration: none;
        list-style: none;
        color: white;
    }

    .social li:hover {
        color:black;
    background-color: white;
    border-radius: 4px;
}