body,html {
    margin: 0;
    padding: 0;
    text-align:center;
}

header {
    background-color: pink;
}

h1 {
    float: left;
    padding-top: -40px;
}

nav {
    height: 90px;
    width: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    float: right;
    
}

nav ul li {
    margin: 0 10px;
    padding: 7px;
    border: solid 1px #ffffff;
    border-radius: 8px;
    background-color: aquamarine;
    font-style: italic;
}

nav ul li:hover {
    background-color: chartreuse;
}

a {
    text-decoration: none;
}

#div-1 {
    margin: 40px 10px 40px 10px;
    text-align: justify;
    padding: 5px;
    float: left;
    overflow: hidden;
    width: 45%;
    border: solid palevioletred 1px;
    border-radius: 7px;
    background-color: pink;
}

#div-2 {
    margin: 40px 10px 40px 10px;
    width: 50%;
    text-align: justify;
    float: right;
    padding: 5px;
    border: solid palevioletred 1px;
    display: block;
    border-radius: 7px;
    background-color: pink;
}
.img {
    height: 200px;
    width: 300px;
    float: left;
    text-align: center;
    margin: 10px;
    border-radius: 7px;
}
